[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
numpy = "*"
matplotlib = "*"
tensorflow-datasets = "*"

[dev-packages]
autopep8 = "*"
gym = "*"
sklearn = "*"
pandas = "*"

[requires]
python_version = "3"
